html {
  background-color: rgba(240, 256, 256, 0.6);
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
form {
  /* background-color: rgba(70, 70, 70, 1); */
  margin: 20px 0;
  width: 92vw;
  display: flex;
  flex-flow: row;
}
form input {
  margin-top: 10px;
  width:90%;
}

form button {
  margin-top: 10px;
  margin-left: 5vw;
  width: 10vw;
}

svg {
  height: 120px;
}

td:first-of-type, td:first-of-type>div {
  height: 150px;
  width: 200px;
}
